<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>How to Blog</title>
  </head>
  <body>
    <%- include('header') %>

    <div class="welcomeContainer">
      <h2>Welcome to How to Blog...</h2>
      <p>Get Started Below!</p>
      <hr />
      <div class="authBtnContainer">
        <a class="authBtn" href="/register" role="button">Register</a>
        <a class="authBtn" href="/login" role="button">Login</a>
      </div>
    </div>
  </body>
  <%- include('footer') %>
</html>
